<style>
    .contestGuidelinesDropdown {
        background-color: rgba(0, 0, 0, 0.25);
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }

    .contestGuidelinesDropdown:hover {
        background-color: var(--highlight-color);
        transition: 0.5s;
    }
</style>
<details class="round-frosted contestGuidelinesDropdown" style="padding: 20px">
    <summary>Contest Guidelines</summary>
    <h1>JSCammie AI Contest Guidelines</h1>

    <h2>Quick Summary</h2>
    <ul>
        <li>Use <a href="https://www.jscammie.com/ai" target="_blank">https://www.jscammie.com/ai</a> for creating images.</li>
        <li>Submit your images in the contest comments section.</li>
        <li>Ensure your submission aligns with the contest theme.</li>
    </ul>

    <h2>Rules for Participation</h2>
    <ul>
        <li>Images must be generated using the <a href="https://www.jscammie.com/ai" target="_blank">JSCammie AI Generator</a>.</li>
        <li>Editing images with external tools (e.g., Photoshop, GIMP, Krita) is prohibited. Img2img modifications on AI-generated images are permitted.</li>
        <li>Submissions must adhere to the specified contest theme.</li>
        <li>Only your most recent submission will be judged.</li>
    </ul>

    <h2>Judging Criteria</h2>
    <p>The images will be evaluated based on:</p>
    <ul>
        <li>Quality</li>
        <li>Complexity</li>
        <li>Character Pose/Anatomy</li>
        <li>Theme Relevance</li>
        <li>Number of Defects/Errors</li>
    </ul>
    <p>...among other factors.</p>

    <h2>Additional Information</h2>
    <ul>
        <li>Submissions can be SFW or NSFW, depending on the theme's restrictions.</li>
        <li>You may use any feature, lora, or model available on the website.</li>
        <li>For paid contests, rewards will be distributed via Gift Cards, PayPal, Boosty, or another agreed-upon payment service.</li>
    </ul>

    <p>Failure to comply with these guidelines may result in your submission being disregarded. Ensure to follow all guidelines for a valid entry.</p>
</details>