<!-- setup basic html template with metadata etc: -->
<html>
<head>
    <title>Privacy Policy | JSCammie.com</title>
    <link rel='stylesheet' href='/style.css'/>

    <%- include('../partials/_headerAll') %>

</head>
<body>

    <!-- get partials/_navigation: -->
    <%- include('../partials/_navigation') %>

    <div class="center-fully-no-flex" style="margin-bottom: 3rem;">
        <%- include('../partials/_bannerAdvert') %>
    </div>


    <div class="round-frosted page-content mw50-dynamic" style="padding: 40px; justify-content: center;">
            
        <h1>Privacy Policy for JSCammie.com</h1>
        <p><strong>Updated on 24th February 2025</strong></p>

        <h2>1. Introduction</h2>
        <p>Welcome to JSCammie.com. I take your privacy seriously. This Privacy Policy outlines how I collect, use, and protect your personal information when you use my services. By accessing or using this website, you agree to the terms outlined in this Privacy Policy.</p>

        <h2>2. Information I Collect</h2>
        <h3>a. Discord Authentication:</h3>
        <p>When you use the Discord authentication feature to log in, I may collect the following information:</p>
        <ul>
            <li>Your Discord username</li>
            <li>Your Discord user ID</li>
        </ul>

        <h3>b. AI Image Generator:</h3>
        <p>When you use the AI image generator, I store the following information for use within the Image History page:</p>
        <ul>
            <li>The generated image</li>
            <li>The date and time the image was generated</li>
            <li>The settings used to generate the image</li>
        </ul>

        <h2>3. How I Use Your Information</h2>
        <h3>a. Discord Authentication Data:</h3>
        <p>I use the information collected during Discord authentication solely for the purpose of user authentication and account creation. I do not share this information with third parties.</p>

        <h2>4. Data Security</h2>
        <p>I take reasonable measures to protect your data against unauthorized access or disclosure. However, please be aware that no data transmission over the internet can be guaranteed to be 100% secure.</p>

        <h2>5. Your Rights</h2>

        <h3>a. Right to Data Deletion:</h3>
        <p>You can request the deletion of your account and associated data by contacting me at jscammie@protonmail.com.</p>

        <h2>6. Changes to this Privacy Policy</h2>
        <p>I may update this Privacy Policy from time to time to reflect changes in data practices. The most recent version will always be available on the website.</p>

        <h2>7. Contact Me</h2>
        <p>If you have any questions or concerns about this Privacy Policy or my data practices, please contact me at jscammie@protonmail.com.</p>

    </div>

    <!-- get partials/_footer: -->
    <%- include('../partials/_footer') %>
    
</body>
</html>