<h1>#1 (13-01-24)</h1>
<ul>
    <li>Added <a href="/changelogs">/changelogs</a> page</li>
    <li>Added <a href="/profile">/profile</a> page</li>
    <li>Added <a href="/logout">/logout</a> page</li>
    <li>Updated Navigation bar to show logout/in links when you are logged out/in</li>
    <li>Updated pages to have a max-width & transition between them smoothly</li>
    <li>Updated the Navigation bar so it properly scales to the devices width!</li>
    <li>Cleaned up login page & Login redirect page</li>
</ul>