<h1>#2 (14-01-24)</h1>
<ul>
    <li>Updated <a href="/ai">/ai</a> page to no longer use Ngrok, YIPPEE <img src="https://i.pinimg.com/originals/5a/47/0e/5a470e061d6a98f315f6f034d949f173.gif"></li>
    <li>Updated <a href="/ai">/ai</a> page to now scale the prompt and negative prompt textareas so now you no longer need to scroll to see your whole prompt!</li>
    <li>Added JSCBot to the <a href="/discord">Discord Server</a>, currently it just lets you use !getinfo to get the info of an imageUrl!</li>
    <li>Fixed Bugs</li>
</ul>