<!-- <h1>#2 (14-01-24)</h1>
<ul>
    <li>Updated <a href="/ai">/ai</a> page to no longer use Ngrok, YIPPEE <img src="https://i.pinimg.com/originals/5a/47/0e/5a470e061d6a98f315f6f034d949f173.gif"></li>
    <li>Updated <a href="/ai">/ai</a> page to now scale the prompt and negative prompt textareas so now you no longer need to scroll to see your whole prompt!</li>
    <li>Added JSCBot to the <a href="/discord">Discord Server</a>, currently it just lets you use !getinfo to get the info of an imageUrl!</li>
    <li>Fixed Bugs</li>
</ul> -->

<!-- write in the above format that says: Even more loras on the /ai page, added text2video (txt2vid) on the /ai page allowing you to make gifs up to 2ish seconds long, added Composeable Diffusion (regional prompting) to the /ai page making multiple character generations alot easier, added lora info boxes to the /ai page which shows you information about the currently selected loras (trigger words, descriptions, links etc), added enhance prompt with ai button which uses a Large Language Model to add additional words into your prompt on the /ai page, updated aing model on /ai page to the latest version, added upscale option to the /ai page to increase the resolution by 4x, ALOT of bug fixes, mostly on the /ai page:  -->
<h1>#6 (01-02-24)</h1>
<ul>
    <li>Even more loras on the <a href="/ai">/ai</a> page</li>
    <li>Added text2video (txt2vid) on the <a href="/ai">/ai</a> page allowing you to make gifs up to 2ish seconds long (ONLY VISIBLE TO LOGGED IN USERS)</li>
    <li>Added Composeable Diffusion (regional prompting) to the <a href="/ai">/ai</a> page making multiple character generations alot easier</li>
    <li>Added lora info boxes to the <a href="/ai">/ai</a> page which shows you information about the currently selected loras (trigger words, descriptions, links etc)</li>
    <li>Added enhance prompt with ai button which uses a Large Language Model to add additional words into your prompt on the <a href="/ai">/ai</a> page</li>
    <li>Updated aing model on <a href="/ai">/ai</a> page to the latest version</li>
    <li>Added upscale option to the <a href="/ai">/ai</a> page to increase the resolution by 4x</li>
    <li>Updated the steps slider on the <a href="/ai">/ai</a> so when you are at 1 quantity it allows up to 100 steps</li>
    <li>ALOT of bug fixes, mostly on the <a href="/ai">/ai</a> page</li>
</ul>
