<style>
    /* hover effects transitions animations etc: */

    .contest1 {
        background-color: rgba(0, 0, 0, 0.25);
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }

    .contest1:hover {
        background-color: rgba(0, 162, 255, 0.5);
        transition: 0.5s;
    }
    
    .contest1 h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .contest1 button {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: #6a88ff;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.5s;
    }

    .contest1 button:hover {
        background-color: #6acdff;
        transition: 0.5s;
    }

</style>
<div class="contest1">
    <h2>$100 - Heaven & Hell Contest</h2>
    <p>Rating: SFW & NSFW</p>
    <p>Prize Pool: $100</p>
    <p>Start Date: 24-02-2024</p>
    <p>End Date: 31-03-2024</p>
    <p>Prompt: Heaven & Hell</p>
    <p>Allowed Loras: ALL</p>
    <p>Allowed Models: ALL</p>
    <p>Allowed Features: ALL</p>

    <br>
    <p>Prize Pool Splits:</p>
    <ul>
        <li>1st Place: $50</li>
        <li>2nd Place: $20</li>
        <li>3rd Place: $10</li>
        <li>4th Place: $10</li>
        <li>5th Place: $10</li>
    </ul>
    <br>
    <button onclick="window.location.href='/contest/1'">Go to Submission Page</button>
</div>